.about-container { 
    width: 80%;
    padding: 100px 0;
    height: max-content;
}

.bio-section {
  padding-bottom: 100px;
}

.bio-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 40px auto;
  display: block;
  object-fit: cover;
}

.project-section { 
  padding: 100px 0;
}

.project-grid { 
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  gap: 16px;
  overflow: visible;
}


  
 
  