.about { 
    width: 70%;
    min-height: 100vh;
    margin: 100px auto;
  }
  

  .about-section {
    margin-bottom: 200px;

  }
  
  #about-header {
    margin-bottom: 20px;
  }
  
  .bio-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 40px auto;
    display: block;
    object-fit: cover;
  }

  .project-grid { 
    display: flex;
    justify-content: center; 
    gap: 12px
  }

  .project-section { 
    margin-bottom: 200px; 
  }
  
 
  