.about-container { 
    width: 80%;
    padding: 100px 0;
    height: max-content;
}

.bio-section {
  padding-bottom: 100px;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.bio-section p { 
  padding: 0 40px;
  margin: 0;
}

.bio-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 40px;
}

.project-section { 
  padding: 100px 0;
}

.project-grid { 
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  gap: 16px;
  overflow: visible;
}


  
 
  