@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@600&display=swap');

#portrait {
    height: auto;
    width: 40%;
    align-self: flex-start;
    padding-right: 20px;
} 

.about { 
    padding: 80px 40px 40px 40px;
    display: flex;
    line-height: 20pt;
    flex: 1 1 auto;
    overflow: auto;
}

.about-text { 
    padding-left: 20px;
}

#about-header { 
    font-family: 'Overpass Mono', monospace;
}