@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@600&display=swap');

html {
    background-color: white;
}

.app { 
    display: flex;
    min-height: 100vh;
    height: max-content;
    box-sizing: border-box;
    width: 100%;
}

.app.mobile { 
    flex-direction: column;
}

.pages-container { 
    display: flex;
    min-height: 100vh;
    height: max-content;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
}

.pages-container.mobile { 
    text-align: center;
}

.pages-container.desktop { 

}


h1, h2, h4 {
    margin-top: 0px;
    font-family: 'Overpass Mono', monospace;
}


a { 
    text-decoration: none;
}

ul { 
    list-style-type: none;
    padding: 0; 
}

p { 
    line-height: 1.6;
    color: black;
}

section { 
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* line animations */
.line-animation {
    padding-bottom: 5px; 
    position: relative;
}

.line-animation::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: 1px;
    background-color: white; 
    transition: width 0.4s ease, background-color 0.4s ease; 
}

.active .line-animation::before { 
    width: 100%;
    background-color: #007bff;
}

.other-page:hover .line-animation::before {
    width: 100%;
    background-color: #007bff;
}
