@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@600&display=swap');

.nav { 
    position: fixed; 
}

.app { 
    display: flex;
    height: max-content;
}

.menu { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pages-container { 
    position: absolute;
    z-index: -1;
    padding-left: 200px;
    min-height: 100vh;
    height: max-content;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
}


h1, h2, h4 {
    margin-top: 0px;
    font-family: 'Overpass Mono', monospace;
}


a { 
    text-decoration: none;
}

ul { 
    list-style-type: none;
    padding: 0; 
}

p { 
    line-height: 1.6;
    color: rgb(29, 29, 29);
}