.app { 
    display: flex;
    height: 100vh;
}

.left { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar { 
    width: 210px;
    height: 450px;
}

h1 { 
    margin-top: 0px;
}

a { 
    text-decoration: none;
}