@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@600&display=swap');

.desktop-navbar-boundary { 
    width: 200px;
    height: 100vh;
    flex-shrink: 0;
}

.desktop-navbar { 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    position: fixed; 
    width: 200px; 
    height: 100vh;
}

.social-container { 
    padding: 40px; 
 }

.other-page { 
    font-size: 15px;
    color: black;
    display: inline-block;
    padding: 20px 20px 20px 40px;
}

.home-page { 
    font-family: 'Overpass Mono', monospace;
    font-size: 35px;
    color: black;
    display: block;
    padding: 40px;
}


ul:hover li a{ 
    color: lightcoral;
}

ul li a:hover{ 
    color: black;
}

.linkedin-images { 
    position: relative;
    width: 50%; 
    height: auto; 
    top: 50%;
    transform: translateY(-40%);
}

#linkedin-static {
    position: absolute;
    height: auto;
    width: 30%;
    background: white;
}

#linkedin-static:hover { 
    opacity: 0;
}

#linkedin-active {
    height: auto;
    width: 30%;
}

/* line animation */
.line-animation {
    padding-bottom: 5px; 
    position: relative;
}

.line-animation::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: 1px;
    background-color: white; 
    transition: width 0.4s ease, background-color 0.4s ease; 
}

.line-animation:hover::before {
    width: 100%;
    background-color: black;
}


