.tech-container { 
    display: flex; 
    align-items: center;
}

.tech-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;  
    color: black;
}

.tech-names { 
    padding-left: 10px;
}

.tech-icon {
    transition: transform 0.3s ease-in-out; 
}

.tech-icon:hover { 
    transform: scale(1.1);
}