.mobile-navbar-container { 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.social-hamburger-container { 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 40px 40px 0px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}
  
.menu-item {
  display: inline-block;
  font-size: 1.5rem;
  color: black; 
  padding: 10px 0; 
}


/* line animation */
.line-animation {
  padding-bottom: 5px; 
  position: relative;
}

.line-animation::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; 
  height: 1px;
  background-color: white; 
  transition: width 0.4s ease, background-color 0.4s ease; 
}

.line-animation:hover::before {
  width: 100%;
  background-color: black;
}


