.media { 
    cursor: pointer;
}

.thumbnail { 
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 8px;
}

.media-modal-overlay {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  
.media-expanded {
    max-height: 700px;
    max-width: 700px;
}

.media-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 2; 
    background: none;
    border: none;
}

.media-modal-close:hover {
    color: lightgray;
    transition: scale(1.10);
    cursor: pointer;
}

@media (max-width: 768px) {
    .media-expanded {
        max-width: 400px;
        max-height: 400px;
    }
}
