@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@600&display=swap');

.navbar { 
    width: 200px; 
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

.other-page { 
    font-size: 15px;
    color: black;
    display: inline-block;
    margin: 20px 20px 20px 40px;
}


.home-page { 
    font-family: 'Overpass Mono', monospace;
    font-size: 40px;
    color: black;
    display: block;
    padding: 40px;
}

.page-container { 
    display: block;
}

ul:hover li a{ 
    color: lightcoral;
}

ul li a:hover{ 
    color: black;
}

.social-container { 
   margin: 40px; 
}

.linkedin-images { 
    position: relative;
    width: 50%; 
    height: auto; 
    top: 50%;
    transform: translateY(-40%);
}

#linkedin-static {
    height: auto;
    width: 30%;
    padding-right: 20px;
    background: white;
    position: absolute;
}

#linkedin-static:hover { 
    opacity: 0;
}

#linkedin-active {
    height: auto;
    width: 30%;
    padding-right: 20px;
}

