.lineUnder { 
    margin: 40px 40px 40px 40px;
    width: 55px;
    height: 1px;
    background: Black;
    position: relative; 
}

.lineOver { 
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 1px;
    background: white;
}

.lineOverAnimate { 
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 1px;
    background: white;
    animation-name: animate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes animate {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
     }
}