@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@600&display=swap');

.other-page { 
    font-size: 15px;
    color: black;
    display: inline-block;
    margin: 20px 20px 20px 40px;
}


.home-page { 
    font-family: 'Overpass Mono', monospace;
    font-size: 40px;
    color: black;
    display: block;
    padding: 40px;
}

.page-container { 
    display: inline-block;
}

ul:hover li a{ 
    color: lightcoral;
}

ul li a:hover{ 
    color: black;
}

