.resume-container {
  width: 80%;
  padding: 100px 0;
}

.resume-download {
  display: inline-block;
  padding: 10px;
  background-color: #007bff;
  border-radius: 10px;
  color: white; 
  font-size: 16px; 
  text-align: center; 
  border: 1px solid black;
}

.resume-download:hover {
  background-color: #006eff;
}

.resume-container h2 {
  text-align: center;
  font-size: 24px;
  margin: 50px 0;
}

.resume-container h3 {
  font-size: 18px;
  font-weight: bold;
}

.resume-container ul {
  list-style-type: disc;
}

.resume-container li {
  line-height: 1.6;
}

.resume-container > * a {
  color: #007bff;
  text-decoration: none;
}

.education-container { 
  padding-bottom: 100px;
}

.work-container { 
  padding: 100px 0;
}

.projects-container { 
  padding: 100px 0;
}
  
.skills-container { 
  padding-top: 100px;
}


